.red-carpet {
    background-color: crimson!important;
    color: white;
}
body {
    background-image: url("../images/sweeping.jpg");
    background-size: 100%;
}
.white-text {
    color: black;
    text-shadow: 10px;
}
.text-box {
    background-color: blanchedalmond;
    opacity: 0.75;
}

.center-btns {
    display: block;
    margin: auto;
    text-align: center;
    padding: 4px;
    font-size: 20px;
}
